<a href="https://colab.research.google.com/github/fitriindra/ML-Zoomcamp-2022/blob/main/ML_Zoomcamp_Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

##Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [2]:
np.__version__

'1.21.6'

###Getting the data
For this homework, we'll use the Car price dataset. Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

`wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv`
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-11 14:18:20--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.05s

2022-09-11 14:18:20 (25.6 MB/s) - ‘data.csv’ saved [1475504/1475504]

##Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

In [4]:
df = pd.read_csv("data.csv")
len(df)

11914

##Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [5]:
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

##Question 4
What's the number of unique Audi car models in the dataset?

In [6]:
audi_df = df[df['Make']=="Audi"]
audi_df['Model'].nunique()

34

##Question 5
How many columns in the dataset have missing values?

In [7]:
df.isnull().sum() > 0

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

##Question 6


*   Find the median value of "Engine Cylinders" column in the dataset.
*   Next, calculate the most frequent value of the same "Engine Cylinders".
*   Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
*   Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

In [8]:
#calculate median
print("Median before: ", df['Engine Cylinders'].median())
#get most frequent value
freq_values = df['Engine Cylinders'].mode()
#fill NaN with most frequent value
df['Engine Cylinders'].fillna(freq_values.iloc[0], inplace=True)
#recalculate median
print("Median after: ", df['Engine Cylinders'].median())

Median before:  6.0
Median after:  6.0

##Question 7


*   Select all the "Lotus" cars from the dataset.
*   Select only columns "Engine HP", "Engine Cylinders".
*   Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
*   Get the underlying NumPy array. Let's call it X.
*   Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
*   Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
*   Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the first element of w?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [9]:
from numpy.linalg import inv

#Select all the "Lotus" cars from the dataset.
lotus_df = df[df['Make']=="Lotus"]
#Select only columns "Engine HP", "Engine Cylinders".
lotus_df = lotus_df[["Engine HP", "Engine Cylinders"]]
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
lotus_df = lotus_df.drop_duplicates()
#Get the underlying NumPy array. Let's call it X
X = lotus_df.to_numpy()
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = np.dot(X.T, X)
#Invert XTX.
XTX_inv = inv(XTX)
#Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
x = np.dot(XTX_inv, X.T)
w = np.dot(x,y)
print(w)

[  4.59494481 -63.56432501]